@font-face
{
    font-family: 'Raleway';
    src: url(fonts/Raleway-VariableFont_wght.ttf),
    url(fonts/Raleway-Italic-VariableFont_wght.ttf);
}

body
{
    background-color: white;
    font-family: 'Raleway';
    color: black;
    margin: 0px;
    display: flex;
    justify-content: center;
}

#contenant
{
    background-color: rgb(255, 255, 255);
}

.bloc_page
{
    width: 100%;
}

.largeur_spe
{
    width: 95%;
    margin: auto;
}

.bloc_logo
{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

.gauche
{
    color: black;
    text-decoration: none;
    padding-right: 25px;
    padding-left: 18px;
}

.gauche:hover
{
    border-top: solid #0065FC;
    padding-top: 43px;
    color: #0065FC;
}

.milieu
{
    color: black;
    text-decoration: none;
    padding-right: 18px;
    padding-left: 18px;
}

.milieu:hover
{
    border-top: solid #0065FC;
    padding-top: 43px;
    color: #0065FC;
}

.droite
{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 30px;
}

.droite:hover
{
    border-top: solid #0065FC;
    padding-top: 43px;
}

h1
{
    font-size: 20px;
    font-weight: bolder;
}

.recherche
{
    display: flex;
    padding-top: 20px;
}

.logo_loca
{
    border: 10px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

input
{
    font-weight: bolder;
    font-size: medium;
    padding-left: 20px;
    border: none;
    border: 1px solid #F2F2F2;
    padding: 10px;
}

input:focus
{
    outline: none;
}

.bouton_recherche
{
    text-decoration: none;
    border: solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: bold;
    padding: 8px;
}

.bouton_recherche2
{
    display: none;
}

.bloc_filtre
{
    font-weight: bolder;
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px;
}

.text_filtre
{
    padding-right: 40px;
}

.logo_filtre
{
    color: #0065FC;
    background-color: #DEEBFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.mot 
{
    margin-right: 30px;
    color: black;
    border: solid #F2F2F2;
    border-left: white;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    margin-top: 2.5px;
}

.mot:hover
{
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

.bloc_info
{
    padding-top: 15px;
    padding-bottom: 30px;
}

.info
{
    color: #0065FC;
    width: 15px;
    height: 15px;
    padding: 3px;
    text-align: center;
    font-size: small;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #DCDCDC;
}

.text_info
{
    color: black;
}

.section_1
{
    display: flex;
}

.bloc_hebergement
{
    width: 70%;
    border: #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-right: 25px;
}

.heberh
{
    font-size: 26px;
    font-weight: bolder;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.hebergements_a_marseille
{
    display: flex;
    flex-wrap: wrap;
}

.deco
{
    color: black;
    text-decoration: none;
    width: 32%;
}

.fig_1
{
    border: white solid;
    border-radius: 15px;
    background-color: white;
    width: 90%;
}

.text_1
{
    padding-left: 10px;
    padding-bottom: 5px;
}

.image_chambre
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.hebergement_h3
{
    line-height: 0%;
}

.hebergement_h4
{
    font-weight: normal;
    line-height: 0%;
}

.gras
{
    font-weight: bold;
}

.etoile
{
    color:  #0065FC;
}

.etoile_2
{
    color: #0065FC;
    margin-top: 15px;
}

.invi
{
    color: #F2F2F2;
}

.plus
{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-left: 50px;
    padding-top: 35px;
}

.bloc_populaire
{
    width: 30%;
    border: #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    margin-left: 25px;
}

.titre_pop
{
    font-weight: bolder;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.deco_2
{
    color: black;
    text-decoration: none;
}

.fig
{
    border: white solid;
    border-radius: 15px;
    background-color: white;
    height: 80%;
    display: flex;
    max-height: 80%;
}

.image_chambre_2
{
    object-fit: cover;
    width: 30%;
    height: 160px;
    max-width: 100%;
    border-radius: 15px 0 0 15px;
}

.text
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}

.hotel_pop
{
    font-size: 18.72px;
    font-weight: bold;
}

.min
{
    font-weight: normal;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 35px;
}

.bloc_activite
{
    width: 100%;
}

.activites_a_marseille
{
    width: 100%;
}

h2
{
    font-weight: bold;
    font-size: 26px;
    padding-top: 40px;
}

.bloc_image_activite
{
    display: flex;
    width: 100%;
}

.pile_1
{
    border: solid #ffffff 0.1%;
    border-radius: 20px;
    box-shadow: #cecece 0 0 5px 0;
    display: block;
    justify-content: left;
    width: 25%;
}

.lien_port
{
    text-decoration: none;
    color: black;
    font-size: 18.72px;
    font-weight: bolder;
}

.vieux_port
{
    object-fit: cover;
    width: 100%;
    height: 550px;
    border-radius: 15px 15px 0 0;
}

.nom_lieu
{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pile_2
{
    display: block;
    padding-left: 50px;
    width: 28%;
}

.lien_pomegues
{
    text-decoration: none;
    color: black;
    font-size: 18.72px;
    font-weight: bolder;
}

.bis_pile_2
{
    border: solid #ffffff 0.1%;
    border-radius: 20px;
    box-shadow: #cecece 0 0 5px 0;
    display: block;
    justify-content: left;
    width: 90%;
    margin-bottom: 55px;
}
.fort_pomegues
{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}

.lien_frioul
{
    text-decoration: none;
    color: black;
    font-size: 18.72px;
    font-weight: bolder;
}

.bis_2_pile_2
{
    border: solid #ffffff 0.1%;
    border-radius: 20px;
    box-shadow: #cecece 0 0 5px 0;
    display: block;
    justify-content: left;
    width: 90%;
}

.iles
{
    object-fit: cover;
    width: 100%;
    height: 190px;
    border-radius: 15px 15px 0 0;
}

.pile_3
{
    border: solid #ffffff 0.1%;
    border-radius: 20px;
    box-shadow: #cecece 0 0 5px 0;
    display: block;
    justify-content: left;
    width: 25%;
    margin-right: 50px;
}

.lien_calanque
{
    text-decoration: none;
    color: black;
    font-size: 18.72px;
    font-weight: bolder;
}

.parc
{
    object-fit: cover;
    width: 100%;
    height: 550px;
    border-radius: 15px 15px 0 0;
}

.pile_4
{
    display: block;
    width: 25%;
}

.lien_garde
{
    text-decoration: none;
    color: black;
    font-size: 18.72px;
    font-weight: bolder;
}

.bis_pile_4
{
    border: solid #ffffff 0.1%;
    border-radius: 20px;
    box-shadow: #cecece 0 0 5px 0;
    display: block;
    justify-content: left;
    width: 100%;
    margin-bottom: 55px;
}
.notre_dame
{
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0 0;
}

.lien_longchamp
{
    text-decoration: none;
    color: black;
    font-size: 18.72px;
    font-weight: bolder;
}

.bis_2_pile_4
{
    border: solid #ffffff 0.1%;
    border-radius: 20px;
    box-shadow: #cecece 0 0 5px 0;
    display: block;
    justify-content: left;
    width: 100%;
}

.longchamp
{
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0 0;
}

.bloc_footer
{
    background-color: #F2F2F2;
    display: flex;
    margin-top: 50px;
}

#propos
{
    padding-left: 50px;
    padding-bottom: 20px;
}
h5
{
    font-weight: bold;
    font-size: 16px;
}

a
{
    text-decoration: none;
    color: black;
}

.end_1, .end_2, .end_3
{
    list-style-type: none;
    display: block;
    margin-top: 10px;
    padding-right: 400px;
}

@media all and (min-width:668px)and (max-width:1450px)
{

}

@media all and (max-width:667px)
{

    #contenant
    {
        width: 100%;
    }

    .bloc_page
    {
        width: 100%;
    }

    .bloc_logo
    {
        display: flex;
        flex-direction: column;
    }

    .logo
    {
        padding-left: 10px;
    }

    nav ul
    {
        padding-left: 25px;
    }
    .gauche
    {
        padding-top: 0px;
        border-bottom: #F2F2F2 solid;
        width: 50%;
        padding-bottom: 10px;
        position: absolute;
        left: 0px;

    }

    .gauche:hover
    {
        border-top: none;
        border-bottom: solid #0065FC;
        padding-top: 0px;
        color: #0065FC;
    }

    .gauche1
    {
        padding-left: 20px;
    }


    .milieu
    {
        padding-top: 0px;
        border-bottom: #F2F2F2 solid;
        width: 50%;
        padding-bottom: 10px;
        position: absolute;
        right: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .milieu:hover
    {
        border-top: none;
        border-bottom: solid #0065FC;
        padding-top: 0px;
        color: #0065FC;
    }

    .milieu1
    {
        padding-left: 50px;
    }

    .droite
    {
        position: absolute;
        top: 45px;
        right: 0px;
    }

    .droite:hover
    {
        border-top: none;
        padding-top: 0px;
    }

    h1
    {
        padding-left: 10px;
        font-size: 23px;
        padding-top: 25px;
    }

    .enplein
    {
        padding-left: 10px;
    }

    .recherche
    {
        display: flex;
        justify-content: center;
    }

    .bouton_recherche
    {
        display: none;
    }

    .bouton_recherche2
    {
        display: flex;
        text-decoration: none;
        border: solid #0065FC;
        background-color: #0065FC;
        border-radius: 0 10px 10px 0;
        color: white;
        font-weight: bold;
        padding: 10px;
    }

    .logo_loca
    {
        border: solid #F2F2F2;
        background-color: #F2F2F2;
        border-radius: 10px 0 0 10px;
        display: flex;
        text-decoration: none;
        border-radius: 10px 0 0 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        padding: 10px;
    }

    .text_filtre
    {
        position: absolute;
        top: 320px;
        padding-left: 15px;
    }

    .bloc_filtre
    {
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
    }

    .mot
    {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .text_info
    {
        position: absolute;
        padding-left: 10px;
    }

    .section_1
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .bloc_populaire
    {
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 0px;
        width: 100%;
        margin-left: 0px;
    }

    .fig
    {
        margin-left: 15px;
        margin-right: 15px;
        border: solid white 5px;
    }

    .bloc_hebergement
    {
        border: none;
        border-radius: 0%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .deco
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .bloc_image_activite
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .vieux_port
    {
        object-fit: cover;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .pile_1
    {
        width: 100%;
    }

    .fort_pomegues
    {
        object-fit: cover;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .pile_2
    {
        width: 100%;
        padding-left: 0px;
    }

    .bloc_footer
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #propos
    {
        padding-left: 50px;
    }

    .end_1, .end_2, .end_3
    {
        width: 100%;
        padding-right: 0px;
    }

    #hebergements
    {
        padding-left: 50px;
        padding-bottom: 20px;
    }

    #assistance
    {
        padding-left: 50px;
        padding-bottom: 20px;
    }
}