@font-face
{
    font-family: 'Raleway';
    src: url(fonts/Raleway-VariableFont_wght.ttf),
    url(fonts/Raleway-Italic-VariableFont_wght.ttf);
}

body
{
    background-color: white;
    font-family: 'Raleway';
    color: black;
}

.bloc_page
{
    width: 95%;
    margin: auto;
}

.bloc_logo
{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

nav ul
{
    list-style-type: none;
    padding-inline-start: 0%;
    display: flex;
}

.gauche
{
    color: black;
    text-decoration: none;
    padding-right: 25px;
    padding-left: 18px;
}

.gauche:hover
{
    border-top: solid #0065FC;
    padding-top: 51px;
    color: #0065FC;
}

.milieu
{
    color: black;
    text-decoration: none;
    padding-right: 18px;
    padding-left: 18px;
}

.milieu:hover
{
    border-top: solid #0065FC;
    padding-top: 51px;
    color: #0065FC;
}

.droite
{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 30px;
}

.droite:hover
{
    border-top: solid #0065FC;
    padding-top: 51px;
}

h1
{
    font-size: 20px;
    font-weight: bolder;
}

.recherche
{
    display: flex;
    padding-top: 20px;
}

.logo_loca
{
    border: 10px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

input
{
    font-weight: bolder;
    font-size: medium;
    padding-left: 20px;
    border: none;
    border: 1px solid #F2F2F2;
    padding: 10px;
}

input:focus
{
    outline: none;
}

.bouton_recherche
{
    text-decoration: none;
    border: solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: bold;
    padding: 8px;
}

.bloc_filtre
{
    font-weight: bolder;
    display: inline-flex;
    padding-top: 30px;
    padding-bottom: 15px;
}

.text_filtre
{
    padding-right: 40px;
}

.logo_filtre
{
    color: #0065FC;
    background-color: #DEEBFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.mot 
{
    margin-right: 30px;
    color: black;
    border: solid #F2F2F2;
    border-left: white;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.mot:hover
{
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

.bloc_info
{
    padding-top: 15px;
    padding-bottom: 30px;
}

.info
{
    color: #0065FC;
    width: 15px;
    height: 15px;
    padding: 3px;
    text-align: center;
    font-size: small;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #DCDCDC;
}

.text_info
{
    color: black;
}

.section_1
{
    display: flex;
}

.bloc_hebergement
{
    width: 70%;
    border: #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-right: 25px;
}

.heberh
{
    font-size: 26px;
    font-weight: bolder;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.hebergements_a_marseille
{
    display: flex;
    flex-wrap: wrap;
}

.deco
{
    color: black;
    text-decoration: none;
    width: 32%;
}

.fig_1
{
    border: white solid;
    border-radius: 15px;
    background-color: white;
    width: 90%;
}

.text_1
{
    padding-left: 10px;
    padding-bottom: 5px;
}

.image_chambre
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.hebergement_h3
{
    line-height: 0%;
}

.hebergement_h4
{
    font-weight: normal;
    line-height: 0%;
}

.gras
{
    font-weight: bold;
}

.etoile
{
    color:  #0065FC;
}

.invi
{
    color: #F2F2F2;
}

.plus
{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.bloc_populaire
{
    width: 30%;
    border: #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    margin-left: 25px;
}

.titre_pop
{
    font-weight: bolder;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.deco_2
{
    color: black;
    text-decoration: none;
}

.fig
{
    border: white solid;
    border-radius: 15px;
    background-color: white;
    height: 80%;
    display: flex;
}

.image_chambre_2
{
    object-fit: cover;
    width: 30%;
    height: 145px;
    max-width: 100%;
    border-radius: 15px 0 0 15px;
}

.text
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}

.hotel_pop
{
    font-size: 18.72px;
    font-weight: bold;
}

.min
{
    font-weight: normal;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 35px;
}